/* styles.css */
body {
  /* background-color: #e8fbe8; */
  font-family: "Arial", sans-serif;
  /* margin: 0; */

  background-image: url("back.png"); /* Assuming 'bgm.jpg' is in the public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.dashboard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  background-color: #ffffff;
  border: 2px solid #041f5c;
  border-radius: 8px;
  padding: 50px;
  margin: 50px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #408bd6;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2166bb;
}

.value {
  font-size: 24px;
  margin: 10px 0;
  border: #2178bb;
  border-radius: 40px;
  background-color: #eef5fd;
}

.App {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #001642;
  margin-bottom: 20px; /* Add some margin for spacing */
}
